<header>
    <nav class="top-nav">
        <div class="container">
            <a href=""><img class="logo" src="../../assets/images/logo-tiki.png" alt="Tiki"></a>
            <div class="search-bar">
                <input type="text" class="search-input"
                    placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ...">
                <div class="search-btn">
                    <a href="">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Tìm kiếm
                    </a>
                </div>
            </div>
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                        <span>Theo dõi đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
                        <span>Thông báo của tôi</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <span>Đăng nhập Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-shopping-cart fa-2x cart" aria-hidden="true"></i>
                        <span>Giỏ hàng</span>
                        <span class="quantity">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>