<footer>
    <div class="container">
        <div class="address">
            <p><span>Địa chỉ văn phòng:</span> 52 Út Tịch, phường 4, quận Tân Bình, thành phố Hồ Chí Minh</p>
            <p>Tiki nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại văn phòng</p>
            <p>hoặc trung tâm xử lý đơn hàng</p>
        </div>
        <div class="info">
            <div class="copy-right">
                <p>&copy; 2016 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn</p>
                <p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</p>
            </div>
            <div class="images">
                <a href=""><img class="gov" src="../../assets/images/bo-cong-thuong-2.png" alt="Bộ công thương"></a>
                <a href=""><img src="../../assets/images/bo-cong-thuong.svg" alt="Bộ công thương"></a>
            </div>
        </div>
    </div>
</footer>