<div class="product-list">
    <div class="filter">
        <div class="filter__listbox">{{selectedCagoryName}}: <span>{{kindofProductsLen}} kết quả</span></div>
        <div class="filter__item">
            <i class="fa fa-info-circle text-warning"></i>
            Tiêu chí đang chọn: <span>Đánh giá từ 4 sao</span><a href="">X</a>
        </div>
    </div>
    <div class="product">
        <div class="product__short-list">
            <ul>
                <li>Ưu tiên xem:</li>
                <li *ngFor="let item of orderList | keyvalue: originalOrder">
                    <a routerLink='' (click)="getProductsByOrder(item.key)" [ngClass]="{'selected': item.key === selectedOrder}">{{item.value}}</a>
                </li>
                <li [ngClass]="{'invisible': selectedCategoryId === 'all'}">
                    <input #searchInput type="text" placeholder="Tìm trong {{selectedCagoryName}}" (keyup.enter)="searchProductByName(searchInput.value, 1)">
                    <a href="" routerLink="" (click)="searchProductByName(searchInput.value, 1)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="product__box-list">
            <ul class="box">
                <li *ngFor="let product of products">
                    <a routerLink="/detail/{{product.id}}">
                        <ul class="item">
                            <li><img src="{{product.img[0]}}" alt="Quạt mini"></li>
                            <li class="title">{{product.productName}}</li>
                            <li class="final-price">
                                <b>{{(product.price - (product.discount/100*product.price)) | number}} ₫</b><span>-{{product.discount}}%</span>
                            </li>
                            <li class="regular-price"><del>{{product.price | number}} ₫</del></li>
                            <li class="rating">
                                <span *ngFor="let item of ['checked', 'checked', 'checked', 'checked', '']"
                                    class="fa fa-star {{item}}"></span>
                                <span class="tiny-word"> (6 nhận xét)</span>
                            </li>
                        </ul>
                    </a>
                </li>
                <li class="extra"></li>
            </ul>
        </div>
    </div>
    <div class="pagination" [ngClass]="{'d-none': kindofProductsLen/limit <= 1}">
        <ngb-pagination [collectionSize]="kindofProductsLen" [(page)]="selectedPage" [pageSize]="limit" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="setSelectedPage($event)" ></ngb-pagination>
    </div>
</div>
