<div class="product-detail">
    <div class="beardcrumbs">
        <span><a href="">Trang chủ </a></span>
        <span><a href="">Quạt mini </a></span>
        <span><a href="">Máy Giặt Cửa Ngang Inverter Electrolux EWF12935S (9.5 Kg) - Xám Bạc - Hàng ChínhHãng</a></span>
    </div>
    <div class="detail" *ngIf="product">
        <div class="detail__image">
            <img src="{{product.img}}" alt="">
        </div>
        <div class="detail__info">
            <div class="title">
                {{product.productName}}
                <li class="rating">
                    <span *ngFor="let item of ['checked', 'checked', 'checked', 'checked', '']"
                        class="fa fa-star {{item}}"></span>
                    <span class="tiny-word"> (6 nhận xét)</span>
                </li>
            </div>
        </div>
    </div>
</div>
