<div class="product-detail">
    <div class="beardcrumbs">
        <span><a href="">Trang chủ</a></span>
        <span class="delimiter">»</span>
        <span><a href="">Quạt mini</a></span>
        <span class="delimiter">»</span>
        <span><a href="">aaaa</a></span>
    </div>
    <div class="detail" *ngIf="product">
        <div class="detail__image">
            <div class="images">
                <a href="" *ngFor="let item of product.img"><img src="{{item}}" alt=""></a>
            </div>
            <div class="thumbnail">
                <img src="{{product.img[0]}}" alt="">
            </div>
        </div>
        <div class="detail__info">
            <div class="top">
                <span class="title">{{product.productName}}</span>
                <div class="rating">
                    <span *ngFor="let item of ['checked', 'checked', 'checked', 'checked', '']"
                        class="fa fa-star {{item}}"></span>
                    <span class="tiny-word"> (6 nhận xét)</span>
                </div>
            </div>
            <div class="price">
                <p class="final-price">{{(product.price - (product.discount/100*product.price)) | number}} ₫</p>
                <p class="saving-price">Tiết kiệm: <span>{{product.discount}}% </span>({{(product.discount/100*product.price) | number}} ₫)</p>
                <p class="regular-price">Giá thị trường: {{product.price | number}} ₫</p>
            </div>
            <div class="description">
                <ul>
                    <li>{{product.description}}</li>
                </ul>
            </div>
            <div class="quantity-input">
                <div class="quantity">
                    <p>Số lượng:</p>
                    <button>-</button>
                    <input type="text"value="1">
                    <button>+</button>
                </div>
                <div class="add-to-cart">
                    <button>
                        <i class="fa fa-shopping-cart fa-2x cart" aria-hidden="true"></i>
                        CHỌN MUA
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
