<main>
    <div class="container">
        <section class="side-bar">
            <div class="catetory">
                <p class="title"><b>DANH MỤC SẢN PHẨM</b></p>
                <a href="">
                    <p>Tất cả <span class="tiny-word">(150)</span></p>
                </a>
                <a href="">
                    <p>Quạt mini <span class="tiny-word">(30)</span></p>
                </a>
                <a href="">
                    <p>Quạt bàn <span class="tiny-word">(30)</span></p>
                </a>
                <a href="">
                    <p>Quạt gió <span class="tiny-word">(30)</span></p>
                </a>
                <a href="">
                    <p>Quạt chơi <span class="tiny-word">(30)</span></p>
                </a>
                <a href="">
                    <p>Quạt thông thoáng <span class="tiny-word">(30)</span></p>
                </a>
            </div>
            <div class="review">
                <p class="title"><b>ĐÁNH GIÁ</b></p>
                <span>
                    <a href="" *ngFor="let item of ['checked', 'checked', 'checked', 'checked', 'checked']">
                        <span class="fa fa-star {{item}}"></span>
                    </a>
                    <a href=""><span class="tiny-word"> (từ 5 sao)</span></a>
                </span>
                <br>
                <span>
                    <a href="" *ngFor="let item of ['checked', 'checked', 'checked', 'checked', '']">
                        <span class="fa fa-star {{item}}"></span>
                    </a>
                    <a href=""><span class="tiny-word"> (từ 4 sao)</span></a>
                </span>
                <br>
                <span>
                    <a href="" *ngFor="let item of ['checked', 'checked', 'checked', '', '']">
                        <span class="fa fa-star {{item}}"></span>
                    </a>
                    <a href=""><span class="tiny-word"> (từ 3 sao)</span></a>
                </span>
            </div>
        </section>
        <section class="content">
            aa
        </section>
    </div>
</main>
