.main {
    display: flex;
    section {
        &.side-bar {
            flex: 0 0 20%;
            padding: 1rem 10px;
            a {
                text-decoration: none;
                color: inherit;
            }
            p {
                margin: 0;
                &.title {
                    margin-bottom: 1rem;
                }
            }
            span {
                &.tiny-word {
                    font-size: 14px;
                    color: #787878;
                }
            }
            .catetory {
                border-bottom: #efefef 2px solid;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                a {
                    &.selected {
                        font-weight: bold;
                    }
                }
                p:not(.title) {
                    &:hover {
                        background-color: #efefef;
                    }
                }
            }
            .review {
                span {
                    color: #b8b8b8;
                    &.checked {
                        color: orange;
                    }
                }
            }
        }
        &.content {
            flex: 1;
            padding: 1rem 10px;
            border: #efefef solid 1px;
        }
    }
}
