<div class="main">
    <section class="side-bar">
        <div class="catetory">
            <p class="title"><b>DANH MỤC SẢN PHẨM</b></p>
            <a
                routerLink=""
                (click)="getAllProducts()"
                [ngClass]="{'selected': selectedCategoryId === 'all'}"
                [attr.data-categoryId] = "'all'"
            >
                <p>Tất cả <span class="tiny-word">({{categories | productTotalQuantity}})</span></p>
            </a>
            <a
                routerLink="" *ngFor="let category of categories"
                (click)="getProductsByCategoryId(category.id, category.categoryName)"
                [ngClass]="{'selected': selectedCategoryId?.toString() === category.id.toString()}"
                [attr.data-categoryId] = "category.id"
            >
                <p>{{category.categoryName}} <span class="tiny-word">({{category.total}})</span></p>
            </a>
        </div>
        <div class="review">
            <p class="title"><b>ĐÁNH GIÁ</b></p>
            <a routerLink="" (click)="getProductsByRating(5)">
                <span *ngFor="let item of ['checked', 'checked', 'checked', 'checked', 'checked']">
                    <span class="fa fa-star {{item}}"></span>
                </span>
                <span class="tiny-word"> (từ 5 sao)</span>
            </a>
            <br>
            <a routerLink="" (click)="getProductsByRating(4)">
                <span *ngFor="let item of ['checked', 'checked', 'checked', 'checked', '']">
                    <span class="fa fa-star {{item}}"></span>
                </span>
                <span class="tiny-word"> (từ 4 sao)</span>
            </a>
            <br>
            <a routerLink="" (click)="getProductsByRating(3)">
                <span *ngFor="let item of ['checked', 'checked', 'checked', '', '']">
                    <span class="fa fa-star {{item}}"></span>
                </span>
                <span class="tiny-word"> (từ 3 sao)</span>
            </a>
        </div>
    </section>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
</div>
